table.subscriptions {
  border:1px #a7c942;
  border-collapse:collapse;
  width: 100%;
}

table.subscriptions th {
  border:1px solid #316189;
  background-color: #316189;
  color:white;
  padding:5px;
}

table.subscriptions td {
  border:1px solid #316189;
  padding:5px;
}

table.subscriptions th.date {
  width: 150px;
  text-align: center;
}

table.subscriptions td.date {
  width: 150px;
  text-align: center;
}

table.expired td {
  color: #666666;
}

.info-text {
  color: #666666;
  font-style: italic;
}

.login-instructions {
  margin-top: 50px;
}

/* ===== */

body
{
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:0px;
	background-color:#000024;
	color:#FFF;
}
div.bk_top{
	width:100%;
	height:406px;
	top:0px;
	left:0px;
	position:absolute;
	background-image:url(../images/bk_top2.jpg);
}
div.bk_bottom{
	width:100%;
	height:406px;
	top:406px;
	left:0px;
	position:absolute;
	background-image:url(../images/bk_bottom.jpg);
}
h4 {
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:16px;
	padding-bottom:3px;
	margin-bottom:0px;
	margin-top:4px;	
	color:#FFFFFF;
}
html {
	overflow-y: scroll;
	}
div.main{
	width:995px;
	height:713px;
	position:relative;
    background-image:url(/static/index_background.jpg);
	background-repeat:no-repeat;
	top:0px;
	margin-left:auto;
	margin-right:auto;
}
div.main_content{
	width:995px;
	height:713px;
	position:relative;
    background-image:url(/static/other_background.jpg);
	background-repeat:no-repeat;
	top:0px;
	margin-left:auto;
	margin-right:auto;
}
div.main_policies{
	width:995px;
	height:1530px;
	position:relative;
	top:0px;
	margin:0px auto;
	background-image:url(/static/policies_background.jpg);
}
div.main_products{
	width:995px;
	height:1103px;
	position:relative;
	top:0px;
	margin:0px auto;
	background-image:url(/static/other_background_products.jpg);
}
div.main_expand{
	width:995px;
	height:1400px;
	position:relative;
	top:0px;
	margin:0px auto;
	background-image:url(/static/other_background_eps.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-color:#011341;
}
.border-dot{
	width:995px;
	height:1px;
	position:absolute;
	bottom:0px;
	margin:0px auto;
	text-align:left;
/*	background-image:url(../images/border.jpg);*/
	background-position:top;
	background-repeat:no-repeat;

}
p {
	font-size:16px;
}
div.logo{
	width:279px;
	height:72px;
	position:absolute;
	top:15px;
	left:25px;
	z-index:60;
	cursor:pointer;
}
div.logo a{
	text-decoration:none;
}
div.menu {
  width: 440px;
	height:39px;
	top:67px;
	right:0px;
	position:absolute;
  z-index:60;
	text-align:left;
}
div.menu a {
	text-decoration:none;
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:18px;
}
div.foot{
	width:760px;
	height:38px;
	bottom:0px;
	left:124px;
	position:absolute;
	font-size:12px;
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
}
div.foot_eps{
	width:995px;
	height:38px;
	position:relative;
	font-size:12px;
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
	margin:0 auto;
}
div.footpad{
	width:909px;
	height:100px;
	position:relative;
}
.foot p{
	line-height:11px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:11px;
	color:#ffffff;
}
.foot_eps p{
	line-height:11px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:11px;
	margin-top:20px;
	color:#ffffff;
}
.foot a, .foot_eps a{
	line-height:12px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
}
a{
	color:#09F;
}
div.link{
	width:294px;
	height:20px;
	position:absolute;
	top:10px;
	right:15px;
    font-size:18px;
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-stretch:narrower;
	z-index:50;
	color:#999999;
	text-align:right;
}
ol, ul{
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
}
h1{
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#7fb4e6;
	padding-bottom:0px;
	margin-bottom:0px;
	margin-top:5px;
	
}
h2{
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFF;
	padding-bottom:4px;
	margin-bottom:0px;
	margin-top:0px;	
}
h3{
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#7fb4e6;
	padding-bottom:3px;
	margin-bottom:0px;
	margin-top:4px;	
}
.ltBlue{
	color:#7FB4E6;
	text-shadow: #000 1px 1px 1px;

}
.grey{
	color:#aaa;
}
div.content_image{
	width:293px;
	height:234px;
	position:absolute;
	top:181px;
	right:85px;
	z-index:5;
}
div.main_content_txt{
	width:530px;
	height:330px;
	position:absolute;
	top:135px;
	left:35px;
	text-align:left;
}
div.main_content_txt p, ul{
    font-family:"Myriad Pro", "Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	padding-top:0px;
	margin-top:0px;
}
div.main_content_txt a{
    font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0099ff;
	padding-top:0px;
	margin-top:0px;
	text-decoration:none;
}
div.main_content_txt a:hover{
	color:#6899e5;
	text-decoration:underline;
}
div.sub_content_txt{
	width:750px;
	height:160px;
	position:absolute;
	top:490px;
	left:35px;
	text-align:left;
}
div.sub_content_txt p, ul, ol{
    font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	padding-top:0px;
	margin-top:0px;
}
div.sub_content_txt a{
    font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0099ff;
	padding-top:0px;
	margin-top:0px;
	text-decoration:none;
}
div.sub_content_txt a:hover{
	color:#6899e5;
	text-decoration:underline;
}
div.efb_left{
	width:175px;
	height:305px;
	position:absolute;
	top:80px;
	left:30px;
}
div.efb_right{
	width:214px;
	height:305px;
	position:absolute;
	top:80px;
	left:270px;
}
div.efb_right p, div.efb_left p{
    font-family:"Myriad Pro", "Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	padding-top:0px;
	margin-top:14px;
}
div.clicktwo{
	width:214px; 
	height:16px; 
	left:270px; 
	top:64px; 
	position:absolute;
	text-align:center;
}
div.clickone{
	width:175px; 
	height:16px; 
 
	left:30px; 
	top:64px; 
	position:absolute;
	text-align:center;
}
div.clickone p, div.clicktwo p{
	font-family:"Myriad Pro", "Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	border:0px;
	margin:0px;
}
/*------------------------NEW DESIGN---------------------------*/
.main_new{
	width:995px;
	position:relative;
	top:0px;
	margin:0px auto;
	background-position:top;
	background-repeat:no-repeat;
	background-color:#011341;	
}
.header{
	width:100%;
	height:106px;
	position:relative;
}
.content{
	position:relative;
	text-align:left;
	height:auto;
}
.content_padding{padding:0 40px 0 40px;}
#iPadImg{
	position:absolute;
	width:172px;
	height:229px;
	top:100px;
	left:34px;
}
.imgMax{
	position:absolute;
	left:0px;
	top:0px;
	}
.regFor{
    border: 1px solid #C9D4D4;
    margin-bottom: 10px;
    padding: 8px 5px 6px;
    width: 220px;
	font-size:14px;
}
.regFor:focus{
    -moz-box-shadow: 0 0 1px 1px #f30d08;
    border: 1px solid #FFFFFF;
    outline: medium none;
}
.sf14{
	font-size:14px;
}
div.sub_txt{
	width:275px;
	height:150px;
	position:relative;
	z-index:700;
	text-align:left;
	/*background-image:url(../images/index_sub.png);*/

}
/*------------------------NEW DESIGN END-----------------------*/
/*------------------------MENU---------------------------------*/
.edgeL, .edgeR{
	position:absolute;
	height:100%;
	cursor:pointer;
	/*background-image:url(../images/nav/edge.png);*/
	width:1px;
}
.edgeL{left:0px;}
.edgeR{right:0px;}
.menu_a{
	font-size:15px;
	padding:0 9px 0 9px;
    height:37px;
	float:left;
	cursor:pointer;
	margin:0 1px 0 1px;
	background-color:#0c1139;
	border-top:solid 1px #26275f;
	position:relative;
}
.menu_a:hover{
	color:#FF6;
	background-position:0 -39px;
}
.menuSub{
	font-size:12px !important;
	height:24px !important;
	border-top:none !important;
	background-color:#1A204C !important;
	}
.mText{
	position:relative;
	margin-top:10px;
}
.mTextSub{
	margin-top:4px;
	position:relative;
}

	.nav-drop
	{
		/*background-color:#0C1139;*/
		background-color:#1A204C;
		color:#FFF;
		display:none;
		right:0px;
		position:absolute;
		text-align:left;
		top:-1px;
		width:645px;
		z-index:1000;
		height:24px;
	}
	.nav-drop a{
	  text-decoration:none;
    }  
		.nav-drop-cell
		{
			cursor:pointer;
			padding:5px;
		}
		
		.nav-drop-cell:hover
		{
			background:#6b7782;
		}	
/*------------------------MENU END-----------------------------*/
td {
	color:#ffffff;
	font-family:"Myriad Pro", "Trebuchet MS",  Arial, Helvetica, sans-serif;
}
tr.darker-bg {
	background-color:#2352ae;
}
.picture-slide{
	margin-left:0px;
	padding-left:0px;
	text-align:left;
}
#image_rotate{
  list-style: none;
  padding:0px; 
  margin:0px;	
  text-align:left;
}
div.download{
	background-image:url(../images/download.png);
	width:124px;
	height:93px;
	position:absolute;
	top:450px;
	right:165px;
	z-index:5;
}
div.photo-gallery{
	width:324px;
	height:352px;
	position:absolute;
	top:580px;
	right:70px;
	z-index:5;
}
div.photo-gallery img{
	border: white solid 1px;
}
.proLnk{
	outline:none;
}