{% extends config.base_template %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<h1>Reset Your Password</h1>
<p>To reset your password, enter the email address you registered with
from Gaia GPS. You will receive back an email that will let you change your password.</p>

<form action="/user/passwordReset" method="post">
	Email Address: <input type=text name="email"><br>
	<input type="submit" class="button" />
</form>

<div class="login-instructions">
  Alternatively, you can reset your password from within the app:
  <ul>
    <li>Open the {{config.display_name}} app
    <li>Go into Settings->Login
    <li>Tap the <i>Reset Password</i> button
    <li>You will receive an email to reset your password
  </ul>
</div>

{% endblock %}